.overflow {
    overflow: auto;
    overflow-y: overlay;
}

.laps-container {
    font-size: 0.3em;
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
}

.laps-inner-container {
    margin: 0 auto;
    max-width: 580px;
    width: 100%;
    line-height: 150%;
    
    .lap-row:only-child {
        #fastest {
            display: none;
        }

        #slowest {
            display: none;
        }
    }

}

.lap-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}