.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex.column {
    flex-flow: column;
}

.flex.end {
    align-items: flex-end;
}

.space-between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.no-drag {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}

.round {
    border-radius: 50%;
}