:root {
  --button-background: #444444;
  --button-active-background: #545454;
  --secondary-inactive-color: #3f3f3f;
  --secondary-inactive-background: #252525;
  --secondary-active-color: #d6d6d6;
  --secondary-active-background: #343434;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-size: clamp(1rem, 14vw, 100px);
  line-height: 100%;
  background-color: #202020;
  color: #cccccc;
  -webkit-app-region: drag;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  max-width: 580px;
  height: 100vh;
  max-height: 700px;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex.end {
  align-items: flex-end;
}

.flex.column {
  flex-flow: column;
}

.no-drag {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

#start-pause-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background-color: var(--button-background);

  &:active {
    background-color: var(--button-active-background);
  }
}

.start-pause {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  --length: 32px;
  --pause-gap: calc(100% / 3);
  --icon-color: #FFF8;
  width: var(--length);
  height: var(--length);
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: inherit;
    height: var(--length);
    background-color: var(--icon-color);
    transition-property: clip-path, background-color, opacity;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  }

  &::before {
    clip-path: polygon(0% 0%, 100% 50%, 100% 50%, 0% 100%);
    opacity: 0;
  }

  &::after {
    clip-path: polygon(0% 0%, 100% 50%, 100% 50%, 0% 100%);
  }

  .active & {
    &::before {
      clip-path: polygon(0% 0%, calc(50% - var(--pause-gap) / 2) 0%, calc(50% - var(--pause-gap) / 2) 100%, 0% 100%);
      opacity: 1;
    }

    &::after {
      clip-path: polygon(calc(50% + var(--pause-gap) / 2) 0%, 100% 0%, 100% 100%, calc(50% + var(--pause-gap) / 2) 100%);
    }
  }
}

.round {
  border-radius: 50%;
}

.button {
  cursor: pointer;
  width: 70px;
  height: 70px;
  fill: var(--secondary-inactive-color);
  border: 0;
  border-radius: 50%;
  margin: 0;
  background-color: var(--secondary-inactive-background);
}

.active-fill {
  & svg {
    fill: var(--secondary-active-color);
  }
}

.active-stroke {
  & svg {
    stroke: var(--secondary-active-color);
  }
}

#reset-button {
  padding: 12px 12px 16px 12px;
}

#flag-button {
  padding: 10px 6px 6px 6px;
}

#keep-on-top-button {
  position: absolute;
  right: -12px;
  top: -32px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  width: 28px;
  height: 28px;
  padding: 0;
}

#controlls {
  position: relative;
  padding-right: 24px;
  margin-top: 10px;
  width: 100%;
  gap: 8px;
}

#timers {
  position: relative;
  user-select: none;
  padding-left: 16px 0px 0px 24px;
}

#times-tracker {
  overflow: auto;
  margin: 20px 0 70px 0;
  display: flex;
  justify-content: space-around;
  font-size: 0.3em;
}

#laps>li:only-child {
  #fastest {
    display: none;
  }

  #slowest {
    display: none;
  }
}

section>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 100%;
}

section>h3 {
  margin: 0;
}

li {
  margin: 8px 0px;
}

.time-display-small {
  font-size: 0.5em;
  line-height: 100%;
  padding-bottom: 81%;
}

.time-description {
  line-height: 100%;
  text-align: center;
  font-size: 0.4em;
  padding-right: 0.5em;
}

.pad-relative {
  position: relative;
  bottom: 0.1em;
}

.pad-relative-small {
  position: relative;
  bottom: 0.05em;
}

@media only screen and (max-width: 300px) {
  .main-container {
    padding: 16px 0;
  }

  #controlls {
    transform: scale(0.55);
  }

  #timers {
    padding: 0;
    transform: scale(1.30);
  }

  #keep-on-top-button {
    width: 1em;
    height: 1em;
    right: -10px;
    top: -16px;
  }
}